*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    height: 90vh;
    
}

.nav-bar a{
    text-decoration: none;
    padding: 2rem;
    color: rgb(21, 21, 21);
    font-size: 1.5rem;
    
   
}

.nav{
    display: flex;
    justify-content: end;
   
    align-items: center;
    background-color: rgb(201, 210, 210);
    }


    .nav img{
       height: 3rem;
       width: 3rem;
        border-radius: 50%;
    }


.nav-img {
    justify-content: center;
    align-items: center;
    display: flex;
   margin-top: 4rem;
    }

    .nav-img img{
        height:22rem;
        
    }
 .search input{
    border: none;
    background-color: white;
    height: 2rem;
    width: 23rem;

    
    }

 .search{
    border-radius: 30px;
    border: 2px solid;
    width: 30rem;
    height: 3rem;
    /* align-items: center; */
   padding: 0.4rem;
    }

    .search i{
        font-size: 1.5rem;
    }
 .main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
 }
 .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    }

 .offer{
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 1.5rem;
 }


.main2{
    margin-top: 10rem;
    padding:2rem ;
    }

.nep{
    padding: 2rem;
}

 .link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    padding-bottom: 2rem;
    padding: 1rem;
   
 }
 
    .left a{
        text-decoration: none;
       font-size: 1.5rem;
    }s

    .right a{
        text-decoration: none;
        /* padding:0.8rem; */
        font-size: 1.5rem;

    }
  
